/*Styles for primo-explore-help-menu: MW 20190409 */

#search-help-menu-content h2 {font-weight: 500;}
#search-help-menu-content h3 {font-weight: 400;}
#search-help-menu-content img {
  border: 2px solid var(--color-secondary-background-dark, #999999);
  border-radius: 4px;
  max-width: 95%;
  margin: 10px;
  padding: 10px;
}
a.helpMenu--location-button {
  padding: 6px;
  background-color: var(--color-button-background, #22647B);
  border-radius: 4px;
  color: #ffffff;
  text-transform: uppercase;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 255, .2);
}

div.helpMenu--location {
  padding-bottom: 10px;
}

help-menu-topbar { 
  --notification-indicator-display: none;
  --notification-indicator-color: var(--color-accent-red-background, red);
}

help-menu-topbar .notification-indicator {
  display: var(--notification-indicator-display, none);
  background-color: var(--notification-indicator-color, red);
  
  position: absolute;
  margin-left: 32px;
  top: 17px;
  height: 10px; width: 10px;
  border-radius: 50%;
}